@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --heading: 211 30% 15%;
    --body: 210 7% 11%;
    --body-light: 210 5% 45%;

    --primary: 244 74 36;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 35 91;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --dsestructive: 235 110 99;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.5rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
